<h3>Engagment Party Brunch</h3>
<%= image_tag "engagement_1.jpg", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= link_to "Engagment Party", "/engagement"%>
<%= image_tag "bridal_1.png", alt: "Bridal Shower", style: "height: 700p; width: 700px;"%>
<%= link_to "Bridal Shower: Alice in Wonderland", "/bridal"%>
<%= image_tag "wedding_1.png", alt: "Wedding Centerpiece: Forest Fairytale", style: "height: 700p; width: 700px;"%>
<%= link_to "Wedding: Forest Fairytale", "/wedding"%>
